h1 {
	color: $body-background;
}

.body-background {
	color: $body-background;
}

h2 {
	color: $medium-gray;
	text-transform: uppercase;
	font-weight: 700;
} 

.primary {
	color: $primary-color;
}

.secondary {
	color: $secondary-color;
}

.tertiary {
	color: $tertiary;
}

.google {
	color: #ffa700;
}